<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <h1> <%= category %> Products</h1>

    <%for(let products of Allproducts){%>
        <li><a href="/products/<%= products._id %>"><%= products.name %></a></li>
    <%}%>

    <h2><a href="/products/new">New Product</a></h2>
    <h3><%= Allproducts %></h3>
    
</body>
</html>